:root {
    --documenttitle: hsl(240, 28%, 31%);
    --bodytitle: hsl(8, 71%, 38%);
    --bodysubtitle: hsl(240, 50%, 34%);
    --bodytitlehighlight: hsl(240, 100%, 94%);
    --bodysubtitlehighlight: hsl(2, 80%, 94%);
  
    --chaptertoc: hsl(240, 28%, 31%);
    --chaptertoctext: white;
    --chaptertocactive: hsl(265, 50%, 50%);
    --chaptertoctextactive: white;
    --sectiontoc: hsl(0, 0%, 94%);
    --sectiontoctext: hsl(240, 28%, 31%);
    --sectiontocactive: var(--chaptertocactive);
    --sectiontoctextactive: var(--chaptertoctextactive);
    --tocborder: hsl(240, 50%, 90%);
  
    --highlighttoc: hsl(265, 80%, 50%);
    --highlighttoctext: white;
    --highlighttocborder: white;
  
    --assemblageborder: #bfd5ec;
    --assemblagebackground: #e9eff5;
  
    --knowlborder: #e0e9ff;
    --knowlbackground: #f5f8ff;
  
    --componentBGColor: var(--assemblagebackground);
    
    --primaryrich: hsl(240, 28%, 31%);
  }